@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scrollbar-color: rgba(223, 223, 223, 0.9) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
}


@font-face {
  font-family: woff;
  src: url('../assets/fonts/IRANSans.eot') format('eot'),
  url('../assets/fonts/IRANSans.woff') format('woff'),
  url('../assets/fonts/IRANSans.woff2') format('woff2');
}


#body{
  scrollbar-color: rgba(223, 223, 223, 0.9) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
  background-color: #fffaf4;
  font-family: woff;
}


.circle-rot{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.77);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.circle-rot svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 90%;
  }

.circle-rot{
    animation: circle 10s infinite linear;
}

@keyframes circle {
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }




  /*main*/

  .charming{
    color: var(--light-dark);
    -webkit-text-stroke: 2px #FBBB00;
  }

  .detailsStyle{
    transition: .4s ease;
  }
  .detailsStyle:hover{
    background-color: #000;
    color: #fff;
  }







  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}






.active{
  background-color: #000;
  color: #fff;
}



/* .circlee{
  animation: circle 15s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
  }
} */





#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}







#scrollToTopBtn {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 100%;
  display: none;
  position: fixed;
  bottom: 20px; /* Adjust the button's position as needed */
  right: 20px; /* Adjust the button's position as needed */
  z-index: 9999;
  opacity: 0.5;
  transition: opacity 0.3s;
}

#scrollToTopBtn.show {
  display: block;
  opacity: 1;
}


.footer-ul li{
  transition: .5s all ease;
}

.footer-ul li:hover{
  color: #CC0D39;
}

video#video-background{
  width: 100%;
  height: 440px;
  object-fit: cover;
  vertical-align: middle;
}



input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



.box.selected {
  border: 1px solid #5E626F;
}


.circle.active{
  background-color: #000;
  color: #fff;
}

.category-shop a:hover{
  color: #CC0D39;
}


.shop-boxShadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.product-active{
  background-color: #000;
  color: #fff;
}


.borderActive{
  border: 1px solid #5E626F;
}



.btn-border{
  border-bottom: 2px solid #000;
}





#owl-product .owl-item{
  margin-right: 70px !important;
}





.dropdownSH{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.title{
  transition: .5s all ease;
}

.title:hover{
  color: #CC0D39;
}

.title li:hover{
  color: #CC0D39;
}













.range-slider {
	width: 300px;
	margin: auto;
	text-align: center;
	position: relative;
	height: 6em;
}

.range-slider svg,
.range-slider input[type=range] {
	position: absolute;
	left: 0;
	bottom: 0;
}

input[type=number] {
	border: 1px solid #ddd;
	text-align: center;
	font-size: 1.6em;
	-moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
	border: 2px solid #ff6347;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #959595;
}

input[type=range]:focus::-ms-fill-lower {
	background: #565656;
}

input[type=range]:focus::-ms-fill-upper {
	background: #727272;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: #000000;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}

input[type=range]::-webkit-slider-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 1px solid #2497e3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #a1d0ff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: #2497e3;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}

input[type=range]::-moz-range-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 1px solid #2497e3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #a1d0ff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: #2497e3;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}

input[type=range]::-ms-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 1px solid #2497e3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #a1d0ff;
	cursor: pointer;
}



