@tailwind base;
@tailwind components;
@tailwind utilities;


#body{
  scrollbar-color: rgba(223, 223, 223, 0.9) rgba(255, 255, 255, 0);
  scrollbar-width: thin;

  background-color: rgb(255, 250, 244);
}


.circle-rot{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.77);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.circle-rot svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 90%;
  }

.circle-rot{
    animation: circle 10s infinite linear;
}

@keyframes circle {
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }




  /*main*/

  .charming{
    color: var(--light-dark);
    -webkit-text-stroke: 2px #FBBB00;
  }

  .detailsStyle{
    transition: .4s ease;
  }
  .detailsStyle:hover{
    background-color: #000;
    color: #fff;
  }







  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}






.active{
  background-color: #000;
  color: #fff;
}



/* .circlee{
  animation: circle 15s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
  }
} */





#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}







#scrollToTopBtn {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 100%;
  display: none;
  position: fixed;
  bottom: 20px; /* Adjust the button's position as needed */
  right: 20px; /* Adjust the button's position as needed */
  z-index: 9999;
  opacity: 0.5;
  transition: opacity 0.3s;
}

#scrollToTopBtn.show {
  display: block;
  opacity: 1;
}


li{
  transition: .5s all ease;
}

li:hover{
  color: #CC0D39;
}

video#video-background{
  width: 100%;
  height: 440px;
  object-fit: cover;
  vertical-align: middle;
}
